NODE_ENV=development
APP_NAME="Assessment API"
APP_HOST=localhost
APP_PORT=3000
APP_URL=http://localhost:3000
APP_KEY=change_this_app_key

DATABASE_URL="mysql://root:password@localhost:3306/assessment_api"

CORS_ORIGIN=*
LOG_LEVEL=dev
